.job-item-container {
  border-top: solid 1px #eeeeee;
  margin-top: 4px;
  position: relative;
  cursor: pointer;
}

.job-item-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 16px;
}

.job-description {
  font-size: 14px;
}
.job-post-date {
  margin-top: 8px;
  font-size: 14px;
  display: block;
}

.btn-detail {
  margin: 4px;
}

.btns-container {
  flex-direction: column;
  justify-content: center;
  text-align: right;
  padding-top: 30px;
}

@media (max-width: 767px) {
  .btns-container {
    text-align: left;
    padding-top: 0px;
  }
}
.btn-container {
  text-align: right;
}

.job-field-name {
  font-weight: bold;
  font-size: 14px;
}

.job-field-value {
  font-size: 14px;
}

.date-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
